
<!-- bring in child search component, and listen for newSearch event emission, the call getSearchHeros -->
<!-- use selector from search.component.ts -->
<app-search (newSearch)="getSearchHeros($event)"></app-search>

<div id="heroBox">
    <br>
    <br>
    <br>
    <br>
    <!-- set up heroCard div using bootstrap grid functionality, and loop through the heroArray -->
    <div id="heroCard" class="col-sm-6 col-md-4 col-lg-3" *ngFor="let hero of heroArray">
        <!-- set up bootstrap thumbnail class -->
        <div class="thumbnail">
          <!-- need to build img src from path and extension from api -->
          <!-- could also use [src]= "hero.thumbnail.path + "." + hero.thumbnail.extension"-->
          <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}">
          <div class="caption">
            <h4>{{hero.name}}</h4>
          </div>
        </div>
      </div>
  
</div>
<br>


